[user]
	email = master.egor.ignatov@gmail.com
	name = Egor Ignatov
	signingkey = B20874A6D1578890
[commit]
	gpgsign = true
[alias]
	s = status
	d = diff
	co = checkout
	br = branch
	last = log -1 HEAD
	lo = log --oneline -n 10
